<h1><%= @title %></h1>

<% if @error %>
  <h2><%= @error %></h2> <!-- if theres an error, print the error -->
<% end %>

<form action="/translate" method="post">
  <input type="text" name="word" autofocus>
  <button>Translate</button>
</form>

<p> <%= @translation %> </p>