<h1><%= @title %></h1>

<% if @error %>
  <h2><%= @error %></h2> <!-- if theres an error, print the error -->
<% end %>

<form action="/translate" method="post">
<!-- <form action="/article" method="post"></form> -->
  <input type="text" name="destination" autofocus> <!-- AUTOFOCUS is the thing that puts the cursor in the text field, just like in google. -->
  <button>Translate</button>
  </form>